<div class="top-wrap">

  <div class="top-box">
    <%= image_tag 'weverse_media_0dff51b9930745848fb16b46deb1a676996', size: "200x200" %>
    <p class="top-text">ジン１</p>
  </div>
  <div class="top-box">
    <%= image_tag 'weverse_media_ae6619534a03430983e7afdbfb54616a027', size: "200x200" %>
    <p class="top-text">ユンギ１</p>
  </div>
  <div class="top-box">
    <%= image_tag 'weverse_media_f4e73548c3be4f1ab1c6fc44003b3df0671', size: "200x200" %>
    <p class="top-text">ホソク１</p>
  </div>
  <div class="top-box">
    <%= image_tag 'weverse_media_2ce1f18ded564efda32aa61f8fc8640f714', size: "200x200" %>
    <p class="top-text">ナム１</p>
  </div>
  <div class="top-box">
    <%= image_tag 'weverse_media_02f588abac7d405094e13c3a0f6b05b8530', size: "200x200" %>
    <p class="top-text">ジミン１</p>
  </div>
  <div class="top-box">
    <%= image_tag 'weverse_media_a2dba34c5da44ac0ac736bc7cbd06842471', size: "200x200" %>
    <p class="top-text">テテ１</p>
  </div>
  <div class="top-box">
    <%= image_tag 'weverse_media_56321e74fcb84fc28ffb56a38f33fc76383', size: "200x200" %>
    <p class="top-text">グク１</p>
  </div>
  <div class="top-box">
    <%= image_tag 'weverse_media_90820c261fd84f719f6c44bcceaa6e91360', size: "200x200" %>
    <p class="top-text">ジン２</p>
  </div>
  <div class="top-box">
    <%= image_tag 'weverse_media_9eacadebc9ca4e5599213ff211bb72ac891', size: "200x200" %>
    <p class="top-text">ユンギ２</p>
  </div>
  <div class="top-box">
    <%= image_tag 'weverse_media_eece3c67c5b84ea9b003900cffb1a887816', size: "200x200" %>
    <p class="top-text">ホソク２</p>
  </div>
  <div class="top-box">
    <%= image_tag 'weverse_media_7c0afaeec79e4c5698eee37062e95f9f693', size: "200x200" %>
    <p class="top-text">ジミン２</p>
  </div>
  <div class="top-box">
    <%= image_tag 'weverse_media_547193118e2d4ad39d4db8cf2e905a94537', size: "200x200" %>
    <p class="top-text">テテ２</p>
  </div>
</div>


<!--<h1>Homes#top</h1>-->
<!--<p>Find me in app/views/homes/top.html.erb</p>-->
